@page
@model task8.Pages.Movies.AboutModel
@{
}
<h1 class="tit">Про цей сайт</h1>
<h2><b>Вітаємо на сайті улюблених фільмів Євгена</b></h2>
<a asp-page="Index" class="btn btn-outline-success">До списку фільмів</a>
