@page
@model task8.Pages.Movies.CreateModel
@{
}
<div class="container">

	@if (HttpContext.Request.Method == "POST" && Model.Movie is not null)
	{
		<h2>@(Model.Movie.Id). @Model.Movie.Title</h2>

	}
	<form method="post" asp-antiforgery="true">
		<div class="mb-3">
			<label class="form-label" asp-for="Movie.Title"></label>
			<input type="text" asp-for="Movie.Title" class="form-control"/>
		</div>
		<div class="mb-3">
			<label class="form-label" asp-for="Movie.Filmmaker"></label>
			<input type="text" asp-for="Movie.Filmmaker" class="form-control"/>
		</div>
		<div class="mb-3">
			<label class="form-label" asp-for="Movie.Genre"></label>
			<input type="text" asp-for="Movie.Genre" class="form-control"/>
		</div>
		<div class="mb-3">
			<label class="form-label" asp-for="Movie.Description"></label>
			<input type="text" asp-for="Movie.Description" class="form-control"/>
		</div>
		<div class="mb-3">
			<button type="submit" class="btn btn-outline-primary">Створити</button>
		</div>
		<a asp-page="Index" class="btn btn-outline-success">До списку фільмів</a>
	</form>

</div>
