@page "{id}"
@model task8.Pages.Movies.DeleteModel
@{
}
<div class="container">
	<h1>Ви дійсно хочете видалити фільм @(Model.Movie.Id). @Model.Movie.Title</h1>
	<form metod="post" style="display: inline">
		<input type="hidden" name="id" value="@Model.Movie.Id" />
		<button type="submit" class="btn btn-outline-danger">Видалити</button>
	</form>
	<a href="/movies" class="btn btn-outline-success">До списку фільмів</a>
</div>
