@page "{id}"
@model task8.Pages.Movies.EditModel
@{
}
<div class="container">
	<form method="post" asp-antiforgery="true">
	<input type="hidden" name="Id" value="@Model.Movie.Id"/>
	<div class="mb-3">
			<label class="form-label" asp-for="Movie.Title"></label>
			<input type="text" asp-for="Movie.Title" class="form-control"/>
	</div>
	<div class="mb-3">
			<label class="form-label" asp-for="Movie.Filmmaker"></label>
			<input type="text" asp-for="Movie.Filmmaker" class="form-control" />
	</div>
	<div class="mb-3">
			<label class="form-label" asp-for="Movie.Genre"></label>
			<input type="text" asp-for="Movie.Genre" class="form-control" />
	</div>
	<div class="mb-3">
			<label class="form-label" asp-for="Movie.Description"></label>
			<input type="text" asp-for="Movie.Description" class="form-control" />
	</div>
	<div class="mb-3">
		<button type="submit" class="btn btn-outline-primary">Зберігти</button>
	</div>
		<a asp-page="Index" class="btn btn-outline-success">До списку фільмів</a>
</form>
</div>
